*{
    margin: 0;
    padding: 3px;
    --back-color:#74db58;
}
img{
    width: 80px;
}
.header{
    background-color: var(--back-color);
}

.header nav ul li{
    list-style: none;
    display: inline;
}
.Log-Button{
    padding: 5px;
    background-color: inherit;
    border-style: none;
    font-size: 20px;
}